<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include styles.css %}</style>
    <title>Portfolio Optimizer</title>
</head>
<body>
    <h1>Optimized Portfolio Screener</h1>
    <form action="/submit" method="post">

        <label for="universe">Choose the universe of Tradable Contracts:</label><br>
        <input type="dropdown" id="universe" name="universe" required><br><br>
        <select id="universe" name="universe" required>
            <option value="etf_vol">All US ETFs sorted by daily traded volume</option>
        </select><br><br>

        <label for="currency">Filter Contracts that trade in this currency:</label><br>
        <input type="dropdown" id="currency" name="currency" required><br><br>
        <select id="currency" name="currency" required>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <option value="AUD">AUD</option>
            <option value="CAD">CAD</option>
            <option value="CHF">CHF</option>
            <option value="CNY">CNY</option>
            <option value="SEK">SEK</option>
            <option value="NZD">NZD</option>
        </select><br><br>
        
        <label for="num_contracts">Number of Contracts to Choose From:</label><br>
        <input type="number" id="num_contracts" name="num_contracts" required><br><br>

        <label for="correlation_cutoff">Drop Contracts with Correlation Greater Than:</label><br>
        <input type="number" id="correlation_cutoff" name="correlation_cutoff" required><br><br>
        
        <label for="num_years">Number of Years to Train On:</label><br>
        <input type="number" id="num_years" name="num_years" required><br><br>
        
        <input type="submit" value="Compute Portfolio">
    </form>
</body>
</html>